{% extends 'sportbook/base.html' %}
{% load staticfiles %}
{% block body_block %}
{% load tz %}

<div class="container">
    <div class="row">
        <div class="col-lg-8">
        {% timezone "America/Chicago" %}
        {% if games %}
        {% for game in games %}

        <table class="table">
            <thead>
            <th scope="col">Team</th>
            <th scope="col">Money</th>
            <th scope="col">Run Line</th>
            <th scope="col">Total</th>
            </thead>

            <tr>
                <td>{{ game.home }}: {{ game.start_time }}</td>
                <td>
                    <form class="form-betslip-ajax" method="POST" action="{% url 'betslip:update' %}">{% csrf_token %}
                        <input type="hidden" name="bet_id" value="{{ game.h_line.odd_id }}">
                        <button type="submit" class="btn btn-outline-success bet-button">{{ game.h_line.price }}</button>
                    </form>
                </td>
                <td>
                    <form class="form-betslip-ajax" method="POST" action="{% url 'betslip:update' %}">{% csrf_token %}
                        <input type="hidden" name="bet_id" value="{{ game.h_sprd.odd_id }}">
                        <button type="submit" class="btn btn-outline-success bet-button">{{ game.handicap }} ({{ game.h_sprd.price }})
                        </button>
                    </form>
                </td>
                <td>
                    <form class="form-betslip-ajax" method="POST" action="{% url 'betslip:update' %}">{% csrf_token %}
                        <input type="hidden" name="bet_id" value="{{ game.under.odd_id }}">
                        <button type="submit" class="btn btn-outline-success bet-button">u{{ game.total }} ({{ game.under.price }})
                        </button>
                    </form>
                </td>

            </tr>
            <tr>
                <td>{{ game.away }}</td>
                <td>
                    <form class="form-betslip-ajax" method="POST" action="{% url 'betslip:update' %}">{% csrf_token %}
                        <input type="hidden" name="bet_id" value="{{ game.a_line.odd_id }}">
                        <button type="submit" class="btn btn-outline-success bet-button">{{ game.a_line.price }}</button>
                    </form>
                </td>
                <td>
                    <form class="form-betslip-ajax" method="POST" action="{% url 'betslip:update' %}">{% csrf_token %}
                        <input type="hidden" name="bet_id" value="{{ game.a_sprd.odd_id }}">
                        <button type="submit" class="btn btn-outline-success bet-button">{{ game.handicap }} ({{ game.a_sprd.price }})
                        </button>
                    </form>
                </td>
                <td>
                    <form class="form-betslip-ajax" method="POST" action="{% url 'betslip:update' %}">{% csrf_token %}
                        <input type="hidden" name="bet_id" value="{{ game.over.odd_id }}">
                        <button type="submit" class="btn btn-outline-success bet-button">o{{ game.total }} ({{ game.over.price }})
                        </button>
                    </form>
                </td>

            </tr>
        </table>

    {% endfor %}
    {% endif %}
    </div>
    <div class="col-sm-4" id="bets">
        <h1>Bet Slip</h1>
        <form class="submit-betslip" method="POST" action="{% url 'betslip:submit_straight_bets' %}">{% csrf_token %}
        <span id="betslip-span">{{ request.session.slip_odds }} ${{ request.session.slip_due }}</span>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bet</th>
                    <th>Odds</th>
                </tr>
            </thead>
            <tbody id="slip-table-body">
                {% for odd in slip.odds.all %}
                <tr><th scope='row'></th>
                    <td><a href='#'>{{ odd.home }}: {{ odd.type }}</a></td>
                    <td>{{ odd.price }}</td></tr>
                <tr><td></td><th scope='row'><input type='number' min='0.01' step='0.01' class='form-control mr-sm-2' id="{{ odd.odd_id }}" name="{{ odd.odd_id }}" placeholder=Amount></th></tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-success">Submit</button>
        </form>

    </div>
    {% endtimezone %}
    </div>
</div>

{% endblock %}