{% extends 'sportbook/base.html' %}
{% load staticfiles %}
{% block body_block %}
<div class="container">
    {% if placed_bets %}
    {% for bets in placed_bets %}
    <table class="table">
        <thead>
            <th scope="col">Bet</th>
            <th scope="col">Odds</th>
            <th scope="col">Total</th>
        </thead>
        {% for odd in bets.betvalue_set.all %}
        <tr>
            <td>{{ odd.odd }}</td>
            <td>{{ odd.odd.price }}</td>
            <td>{{ odd.value }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td>{{ bets.value }}</td>
        </tr>
    </table>
    {% endfor %}
    {% endif %}
    {% if straight_bets %}

    <table class="table">
        <thead>
            <th scope="col">Bet</th>
            <th scope="col">Odds</th>
            <th scope="col">Total</th>
        </thead>
        {% for bet in straight_bets %}
        <tr>
            <td>{{ bet.odd }}</td>
            <td>{{ bet.odd.price }}</td>
            <td>{{ bet.due }} => To Win: {{ bet.value }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

</div>


{% endblock %}